<%- layout("./layouts/boilerplate.ejs") %>

  <body>
    <div class="row mt-3 p-1 p-md-3">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <h2 class="col-12 text-dark text-center">
          <p class=" fs-5 fw-light text-uppercase text-secondary">
            <%= post._id %>
          </p>
        </h2>
        <form action="/posts/<%= post._id %>?_method=PUT" method="post" novalidate class="needs-validation">
          <div class="mb-3">
            <label for="post_title" class="form-label">Title</label>
            <input type="text" minlength="10" maxlength="50" name="post[title]" value="<%= post.title %>"
              id="post_title" placeholder="Enter a Catchy Title" class="form-control" required />
            <div class="valid-feedback">Title looks Good!</div>
            <div class="invalid-feedback">Title must be 10 characters long</div>
          </div>
          <div class="mb-3">
            <label for="post_content" class="form-label">Post-Content</label>
            <textarea name="post[content]" minlength="50" id="post_content" class="form-control"
              required><%= post.content %></textarea>
            <div class="invalid-feedback">Content atleast be 50 characters long</div>
          </div>
          <div class="mb-3">
            <label for="post_owner" class="form-label">Your name</label>
            <input type="text" name="post[owner]" id="post_owner" value="<%= post.owner %>"
              placeholder="Satyam Kumar Shah" class="form-control" required />
            <div class="invalid-feedback">Please enter a your name</div>
          </div>
          <div class="mb-3 col-3 mt-3 row">
            <button type="submit" class="btn btn-success col-12">Update</button>
          </div>
        </form>
      </div>
    </div>
  </body>